# CheatBot
##### The primary goal of this bot is to generate answers based on a piece of data given.

## TechStack
Gemini LLm <br>
Langchain <br>
GeminiEmbeddings <br>
ChromaDB as a Vector Database<br>
Various other python libraries to enhancing the bot<br>
<br>
#### - Developed by Mihiresh Joshi

In [1]:

# Install all these libraries using pip command
# Here I made your work easy (use 'pip3' if on pip3 version): 
# pip install PyPDF2 langchain python-dotenv pandas chromadb google-api-python-client tqdm

import PyPDF2
import langchain
import os
from dotenv import load_dotenv
from pprint import pprint
import pandas as pd
import chromadb
from chromadb import Documents, EmbeddingFunction, Embeddings
import google.generativeai as genai
from IPython.display import Markdown
from chromadb.api.types import Embeddings
import time
from tqdm import tqdm
from google.generativeai import GenerationConfig, GenerativeModel

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
api_key = "api key"  # Change it with your API key
genai.configure(api_key=api_key)

In [3]:
# A very basic function to extract text from pdf

def extract_text(pdf_path):
    extracted_text = ""
    with open(pdf_path, 'rb') as file:
        pdf_reader = PyPDF2.PdfReader(file)
        num_pages = len(pdf_reader.pages)
        for page_number in range(num_pages):
            page = pdf_reader.pages[page_number]
            extracted_text += page.extract_text()
    print(extracted_text)
    return extracted_text

pdf_path = " pdf address "  # Don't forget to give your address here 
text = extract_text(pdf_path)

Data Management & Visualization (DMV) Module 1Structured Query Language (SQL)Index
2Lecture  1Overview of SQL4Lecture  1Data Types, Data Definition Commands. 16Lecture  2Data Manipulation commands32Lecture  2Integrity constraints ; Referential integrity , check constraints 38Lecture 1 Overview of SQLOverview of SQL- What is SQL?§Standard command set used to communicate with relational DBMS.§ All tasks related to Relational Database Management like creating table, querying the database for information , modifying data in the database.Advantages§High level  language that provides a greater degree of abstraction than procedural languages.§Allow the end-users to deal with number of database management systems where it is available.§Simple and easy to learn can handle complex situation.§All SQL operations are performed at set level.§For digital systems, the variable takes on discrete values.4Data Models
5Model ofsystemin client’smindEntity model ofclient’s modelTable modelof entity modelTables on diskOracleserverDefinition of a Relational Database
Relational Model and relational Algebra6A relational database is a collection of relations or two-dimensional tables.
Oracle
serverTable Name: EMPLOYEESTable Name: DEPARTMENTS……
7Relational Database Management System
User tablesData dictionaryServer8Communicating with a RDBMS Using SQL
SELECT department_name FROM   departments;SQL statementis entered.OracleserverStatement is sent to Oracle Server.
Advantages of DBMS§No redundant data §Data Consistency§Secure§Privacy – Limited access§Easy access to data§Easy recovery
9Relational Model
10NameAddressPhone_noDOBSemester Smith...IIIJones...IIICurry...IIIJack...IIIStudentRelation
Record/tupleColumn/Attribute
Domain Example 2-Employee Relation
11IDNameAgeSalary1Adam34130002Alex28150003Stuart20180004Ross4219020What is a Record/Tuple, Column/Attribute, Domain?
121Adam3413000§ A single entry in a table is called aRecordorRow.
SQL (Structured Query Language)
13§StandardRelationalDatabaseLanguage§AllowstocreateDB§AllowstomanipulateDB§SupportedFeatures:•DataDefinitionLanguage•DataManipulationLanguage•DataControlLanguageWhat Can SQL do?
14§execute queries against a database§retrieve data from a database§insert records in a database§update records in a database§delete records from a database§create new databases§create new tables in a databaseLecture 1 Data Types, Data Definition CommandsData Types in SQL
16§char(n): Fixed length character string, with user-specified length n.§varchar(n) : Variable length character strings, with user-specified maximum length n.§Int : Integer (a finite subset of the integers that is machine-dependent).§number (p,d):  Fixed point number, with user-specified precision of p digits, with n digits to the right of decimal point. Eg: numeric(3,1) allows 44.5 to be stored exactly §float(n): Floating point number, with user-specified precision of at least n digits.Data Types in SQL….Continue…..§DATE:•It is used to store date and time information .•It stores century ,month ,day, hour minute and seconds.•If time is not specified then it stores the time of 12:00:00 at midnight if not the system time(default in 24 hour format)•If date information is not provided by default it takes date of first day of current month.§RAW: It stores binary data upto 2000 bytes long(256 bytes in 7.X)§LONG: It is used to store character data upto 2 G.B in size§LONG RAW: It is used to store binary data upto 2GB in size.17Data Types in SQL….Continue…..§CLOB: (Character Large Object):•It is used to store character strings upto 4 GB in size .There can be multiple CLOB columns per table.§BLOB (Binary Large Object):•It is used to store binary strings upto 44GB in size.There can be multiple BLOB columns per table.§BFILE: It stores the pointer  or locator pointing towards operating system.§NCLOB: N(Nationa)CLOB:-•   It is used to store multibyte character.      Eg:In English one character uses 1 byte18SQL Statements
19SELECT     INSERTUPDATEDELETEMERGECREATEALTERDROPRENAMETRUNCATECOMMITROLLBACKSAVEPOINTGRANTREVOKEData retrieval Data manipulation language (DML)Data definition language (DDL)Transaction controlData control language (DCL)§CREATE§ALTER§DROP §TRUNCATE§RENAME
20DATA DEFINITION STATEMENTSNaming Rules§Table names and column names:•Must begin with a letter•Must be 1–30 characters long•Must contain only A–Z, a–z, 0–9, _, $, and #•Must not duplicate the name of another object owned by the same user•Must not be an Oracle server reserved wordCREATE TABLE§Create TableCREATE TABLE <tablename> ( columnname1 datatype (size),   columnname2 datatype (size),   columnname3 datatype (size));
Table created.§Create the table.Creating TablesCREATE TABLE dept (deptno NUMERIC(2),  dname VARCHAR(14),  loc VARCHAR(13));
Table created.DESCRIBE dept
§Confirm table creation.The ALTER TABLE StatementUse the ALTER TABLE statement to:•Add a new column•Modify an existing column•Define a default value for the new column•Drop a columnThe ALTER TABLE StatementUse the ALTER TABLE statement to add, modify, or drop columns.ALTER TABLE tableADD     (column datatype [DEFAULT expr]     [, column datatype]...);ALTER TABLE tableMODIFY    (column datatype [DEFAULT expr]     [, column datatype]...);ALTER TABLE tableDROP       (column);Adding a ColumnDEPT80“Add a new column to the DEPT80 table.”DEPT80New column
Adding a Column•You use the ADD clause to add columns.
•The new column becomes the last column.ALTER TABLE dept80ADD     (job_id VARCHAR(9));
Table altered.
Modifying a Column•You can change a column’s data type, size, and default value.
•A change to the default value affects only subsequent insertions to the table.ALTER TABLE dept80MODIFY  (last_name VARCHAR(30));
Table altered.Dropping a ColumnUse the DROP COLUMN clause to drop columns you no longer need from the table.ALTER TABLE  dept80DROP COLUMN  job_id;
Table altered.Dropping a Table•All data and structure in the table is deleted.DROP TABLE dept80;
Table dropped.Lecture 2 Data Manipulation Commands§ INSERT§ UPDATE§ DELETEDATA MANIPULATION STATEMENTSINSERT•Insert  into Table
If datatype is varchar & date give single quotation mark while inserting data in a tableINSERT INTO <tablename> VALUES ( VALUE1,’VALUE2’,..);
1 ROW AFFECTED.INSERT INTO <tablename> VALUES ( &COLUMNNAME1,’&COLUMNNAME’,..);
1 ROW AFFECTED.
SQL>/            TO ENTER MORE VALUESINSERT•Insert  into TableINSERT INTO EMPLOYEE VALUES ( 100,’JOHN’,10000);
1 ROW AFFECTED.INSERT INTO EMPLOYEE VALUES ( &EMP_ID,’&EMP_NAME’,&SALARY);
Enter Emp_id:100
Enter Emp_name:John
Enter Salary:10000
1 ROW AFFECTED.
SQL>/            TO ENTER MORE VALUESUPDATE•Update values of tableUPDATE <tablename> SET COLUMNNAME = NEWVALUE WHERE <CONDITION>; UPDATE EMPLOYEE SET EMP_ID = 80 WHERE EMP_NAME=‘JOHN’;DELETE•Delete entire rows from table
•Delete particular row from tableDELETE FROM <TABLENAME>;DELETE FROM EMPLOYEE; DELETE  FROM TABLENAME WHERE <CONDITION>;   DELETE FROM EMPLOYEE WHERE DEPT_NO=10;Lecture 2ConstraintsWhat are Constraints?§Constraints enforce rules at the table level.§Constraints ensures that changes made to a database do not result in a loss of data consistency.§Types of Constraints :•NOT NULL•UNIQUE •PRIMARY KEY•FOREIGN KEY (Referential Integrity)•CHECKConstraint Guidelines§Create a constraint either:•At the same time as the table is created, or•After the table has been created§Define a constraint at the column or table level.§View a constraint in the data dictionary.Defining ConstraintsCREATE TABLE <tablename>     (column1 datatype [CONSTRAINT TYPE],   column2 datatype               CONSTRAINT [CONSTRAINT VARIABLE]                [CONSTRAINT TYPE]               ...  );CREATE TABLE employees(       employee_id  NUMBER(6),         first_name   VARCHAR2(20),       ...       job_id       VARCHAR2(10) NOT NULL,      CONSTRAINT emp_emp_id_pk              PRIMARY KEY (EMPLOYEE_ID));The NOT NULL ConstraintEnsures that null values are not permitted for the column:
NOT NULL constraint(No row can containa null value forthis column.)Absence of NOT NULL constraint(Any row can containnull for this column.)NOT NULL constraint
…CREATE TABLE employees(    employee_id    NUMBER(6),    last_name      VARCHAR2(25) NOT NULL,    salary         NUMBER(8,2),    commission_pct NUMBER(2,2),    hire_date      DATE                    CONSTRAINT emp_hire_date_nn                   NOT NULL,...  The NOT NULL ConstraintIs defined at the column level:System namedUsernamedThe UNIQUE ConstraintEMPLOYEES UNIQUE constraint
INSERT INTONot allowed: already existsAllowed
…The UNIQUE Constraint§Defined at either the table level or the column level: CREATE TABLE employees(    employee_id      NUMBER(6),    last_name        VARCHAR2(25) NOT NULL,    email            VARCHAR2(25),    salary           NUMBER(8,2),    commission_pct   NUMBER(2,2),    hire_date        DATE NOT NULL,...      CONSTRAINT emp_email_uk UNIQUE(email));The PRIMARY KEY ConstraintDEPARTMENTS PRIMARY KEY
INSERT INTONot allowed(Null value)Not allowed (50 already exists)
…CREATE TABLE   departments(    department_id        NUMBER(4),    department_name      VARCHAR2(30)       CONSTRAINT dept_name_nn NOT NULL,    manager_id           NUMBER(6),    location_id          NUMBER(4),      CONSTRAINT dept_id_pk PRIMARY KEY(department_id));The PRIMARY KEY Constraint§Defined at either the table level or the column level:The FOREIGN KEY ConstraintDEPARTMENTS EMPLOYEESFOREIGNKEYINSERT INTONot allowed(9 does not exist)
AllowedPRIMARYKEY
…
…
The FOREIGN KEY Constraint§Defined at either the table level or the column level:CREATE TABLE employees(    employee_id      NUMBER(6),    last_name        VARCHAR2(25) NOT NULL,    email            VARCHAR2(25),    salary           NUMBER(8,2),    commission_pct   NUMBER(2,2),    hire_date        DATE NOT NULL,...    department_id    NUMBER(4),    CONSTRAINT emp_dept_fk FOREIGN KEY (department_id)      REFERENCES departments(department_id),    CONSTRAINT emp_email_uk UNIQUE(email));FOREIGN KEY Constraint Keywords§FOREIGN KEY: Defines the column in the child table at the table constraint level§REFERENCES: Identifies the table and column in the parent table§ON DELETE CASCADE: Deletes the dependent rows in the child table when a row in the parent table is deleted.§ON DELETE SET NULL: Converts dependent foreign key values to nullCascading Actions in Referential Integrity
50create table course (    course_id char(5) primary key,    title             varchar(20), dept_name varchar(20) references department)create table course (    …    dept_name varchar(20),    foreign key (dept_name) references department                on delete cascade                on update cascade,    . . . )alternative actions to cascade:  set null, set defaultThe CHECK Constraint§Defines a condition that each row must satisfy..., salary NUMBER(2)     CONSTRAINT emp_salary_min              CHECK (salary > 0),...Adding a Constraint Syntax§Use the ALTER TABLE statement to:•Add or drop a constraint, but not modify its structure•Enable or disable constraints•Add a NOT NULL constraint by using the MODIFY clauseALTER TABLE  table  ADD [CONSTRAINT constraint] type (column);Adding a ConstraintAdd a FOREIGN KEY constraint to the EMPLOYEES table indicating that a manager must already exist as a valid employee in the EMPLOYEES table.ALTER TABLE     employeesADD CONSTRAINT  emp_manager_fk   FOREIGN KEY(manager_id)   REFERENCES employees(employee_id);
Table altered.Dropping a Constraint§Remove the manager constraint from the EMPLOYEES table.
ALTER TABLE      employeesDROP CONSTRAINT  emp_manager_fk;
Table altered.References
55•Dr. P. S. Deshpande, SQL and PL/SQL for Oracle 10g, Black Book, Dreamteach Press.•Korth, Silberchatz, Sudarshan, “Database System Concepts”, 6th Edition McGraw –Hill.Data Management & Visualization (DMV) Module 1Structured Query Language (SQL)Index
•57Lecture  3SELECT statement; ClausesLecture  3Aggregate Functions- Group by, having Lecture  4Views in SQLLecture  4Nested and complex queriesLecture 3 String OperationsBasic SELECT StatementSELECT columnname1,columnname2,…FROM table;•SELECT identifies what columns•FROM identifies which tableSELECT *FROM   departments;Selecting All Columns
Selecting Specific ColumnsSELECT department_id, location_idFROM   departments;
Writing SQL Statements§SQL statements are not case sensitive. §SQL statements can be on one or more lines.§Keywords cannot be abbreviated or split across lines.§Indents are used to enhance readability.Arithmetic ExpressionsCreate expressions with number and date data by using arithmetic operators.Operator+-*      /       DescriptionAddSubtract Multiply DivideUsing Arithmetic OperatorsSELECT last_name, salary, salary + 300FROM   employees;…
Operator Precedence§Multiplication and division take priority over addition and subtraction.§Operators of the same priority are evaluated from left to right.§Parentheses are used to force prioritized evaluation and to clarify statements.
*
/
+
_Operator PrecedenceSELECT last_name, salary, 12*salary+100FROM   employees;…
Using ParenthesesSELECT last_name, salary, 12*(salary+100)FROM   employees;…
Limiting Rows Using a Selection
“retrieve allemployeesin department 90”EMPLOYEES…
Limiting the Rows Selected§Restrict the rows returned by using the WHERE clause.
§The WHERE clause follows the FROM clause.SELECT *|columnname1, columnname2,..FROM table[WHERE condition(s)];Using the WHERE ClauseSELECT employee_id, last_name, job_id, department_idFROM   employeesWHERE  department_id = 90 ;
Comparison ConditionsOperator=>      >= <      <= <>MeaningEqual toGreater than Greater than or equal to Less than Less than or equal toNot equal toSELECT last_name, salaryFROM   employeesWHERE  salary <= 3000;Using Comparison Conditions
Other Comparison ConditionsOperatorBETWEEN...AND...IN(set)LIKEIS NULLMeaningBetween two values (inclusive), Match any of a list of values Match a character pattern Is a null value Using the BETWEEN Condition§Use the BETWEEN condition to display rows based on a range of values.SELECT last_name, salaryFROM   employeesWHERE  salary BETWEEN 2500 AND 3500;Lower limitUpper limit
SELECT employee_id, last_name, salary, manager_idFROM   employeesWHERE  manager_id IN (100, 101, 201);Using the IN ConditionUse the IN membership condition to test for values in a list.
Using the NULL Conditions§Test for nulls with the IS NULL operator.SELECT last_name, manager_idFROM   employeesWHERE  manager_id IS NULL;
Logical ConditionsOperatorANDORNOTMeaningReturns TRUE if both component conditions are true Returns TRUE if either component condition is trueReturns TRUE if the following  condition is falseUsing the AND Operator§AND requires both conditions to be true.SELECT employee_id, last_name, job_id, salaryFROM   employeesWHERE  salary >=10000AND    job_id LIKE '%MAN%';
Using the OR OperatorSELECT employee_id, last_name, job_id, salaryFROM   employeesWHERE  salary >= 10000OR     job_id LIKE '%MAN%';
§OR requires either condition to be trueSELECT last_name, job_idFROM   employeesWHERE  job_id        NOT IN ('IT_PROG', 'ST_CLERK', 'SA_REP');Using the NOT Operator
Rules of Precedence
§Override rules of precedence by using parentheses.Order Evaluated Operator    1 Arithmetic operators  2 Concatenation operator 3 Comparison conditions 4 IS [NOT] NULL, LIKE, [NOT] IN 5 [NOT] BETWEEN 6 NOT logical condition 7 AND logical condition 8 OR logical conditionSELECT last_name, job_id, salaryFROM   employeesWHERE  job_id = 'SA_REP'OR     job_id = 'AD_PRES'AND    salary > 15000;Rules of Precedence
SELECT last_name, job_id, salaryFROM   employeesWHERE  (job_id = 'SA_REP'OR     job_id = 'AD_PRES')AND    salary > 15000;Rules of Precedence§Use parentheses to force priority.
Duplicate Rows§The default display of queries is all rows, including duplicate rows.SELECT department_idFROM   employees;…
Eliminating Duplicate Rows§Eliminate duplicate rows by using the DISTINCT keyword in the SELECT clause.SELECT DISTINCT department_idFROM   employees;
Aggregate Functions and Null ValuesLecture No: 3What Are Group Functions?§Group functions operate on sets of rows to give one result per group.EMPLOYEESThe maximum   salary in the EMPLOYEES table.
…
Types of Group Functions•AVG •COUNT •MAX•MIN •SUMSELECT [column,] group_function(column), ...FROM  table[WHERE condition][GROUP BY column][ORDER BY column];Group Functions SyntaxSELECT AVG(salary), MAX(salary),       MIN(salary), SUM(salary)FROM   employeesWHERE  job_id LIKE '%REP%';Using the AVG and SUM Functions§You can use AVG and SUM for numeric data.
Using the MIN and MAX Functions§You can use MIN and MAX for any data type.SELECT MIN(hire_date), MAX(hire_date)FROM   employees;
SELECT COUNT(*)FROM   employeesWHERE  department_id = 50;Using the COUNT Function§COUNT(*) returns the number of rows in a table.
Using the COUNT Function§COUNT(expr) returns the number of rows with non-null values for the expr.§Display the number of department values in the EMPLOYEES table, excluding the null values.SELECT COUNT(commission_pct)FROM   employeesWHERE  department_id = 80;
SELECT AVG(commission_pct)FROM   employees;Group Functions and Null Values§Group functions ignore null values in the column.
SELECT AVG(NVL(commission_pct, 0))FROM   employees;Using the NVL Function with Group FunctionsThe NVL function forces group functions to include null values.
Creating Groups of Data EMPLOYEESThe averagesalary in EMPLOYEEStable for each department.4400
…
95003500640010033SELECT column, group_function(column)FROM  table[WHERE condition][GROUP BY group_by_expression][ORDER BY column <DESCending order>];Creating Groups of Data: The GROUP BY Clause Syntax
§Divide rows in a table into smaller groups by using the §GROUP BY clause.SELECT   department_id, AVG(salary)FROM     employeesGROUP BY department_id ;Using the GROUP BY Clause §All columns in the SELECT list that are not in group functions must be in the GROUP BY clause.
Using the GROUP BY Clause §The GROUP BY column does not have to be in the SELECT list.SELECT   AVG(salary)FROM     employeesGROUP BY department_id ;
Grouping by More Than One ColumnEMPLOYEES“Add up the salaries in the EMPLOYEES tablefor each job, grouped by department.
…SELECT   dept_id, job_id, SUM(salary)FROM     employeesGROUP BY department_id, job_id ;Using the GROUP BY Clause on Multiple Columns
Illegal Queries Using Group Functions§You cannot use the WHERE clause to restrict groups.§You use the HAVING clause to restrict groups.§You cannot use group functions in the WHERE clause.SELECT   department_id, AVG(salary)FROM     employeesWHERE    AVG(salary) > 8000GROUP BY department_id;WHERE  AVG(salary) > 8000       *ERROR at line 3:ORA-00934: group function is not allowed hereCannot use the WHERE clause to restrict groupsSELECT   last_name, job_id, department_id, hire_dateFROM     employeesORDER BY hire_date ;ORDER BY Clause§Sort rows with the ORDER BY clause§ASC: ascending order, default§DESC: descending order§The ORDER BY clause comes last in the SELECT statement.
…
Sorting in Descending OrderSELECT   last_name, job_id, department_id, hire_dateFROM     employeesORDER BY hire_date DESC ;…
Excluding Group Results
The maximumsalaryper departmentwhen it isgreater than$10,000EMPLOYEES
…SELECT column, group_functionFROM  table[WHERE condition][GROUP BY group_by_expression][HAVING group_condition][ORDER BY column];Excluding Group Results: The HAVING ClauseUse the HAVING clause to restrict groups:§Rows are grouped.§The group function is applied.§Groups matching the HAVING clause are displayed.Using the HAVING ClauseSELECT   department_id, MAX(salary)FROM     employeesGROUP BY department_idHAVING   MAX(salary)>10000 ;
SELECT   job_id, SUM(salary) PAYROLLFROM     employeesWHERE    job_id NOT LIKE '%REP%'GROUP BY job_idHAVING   SUM(salary) > 13000ORDER BY SUM(salary);Using the HAVING Clause
Nesting Group Functions§Display the maximum average salary. SELECT   MAX(AVG(salary))FROM     employeesGROUP BY department_id;

In [4]:
# text = text.replace("Module 1– Introduction to Social Network"," ")
# text

In [5]:
# The most important step of chunking your textual data. Here you could use complete creativity while fine-tuning
# My suggestion try performing content-based chunking

from langchain.text_splitter import RecursiveCharacterTextSplitter

text_splitter = RecursiveCharacterTextSplitter(
    chunk_size = 1000,    #for next time let's try to keep the chunk size little bigger
    chunk_overlap = 100,
    length_function = len,
    add_start_index = True
)

In [6]:
texts = text_splitter.create_documents([text])
print(texts[14].page_content)

50create table course (    course_id char(5) primary key,    title             varchar(20), dept_name varchar(20) references department)create table course (    …    dept_name varchar(20),    foreign key (dept_name) references department                on delete cascade                on update cascade,    . . . )alternative actions to cascade:  set null, set defaultThe CHECK Constraint§Defines a condition that each row must satisfy..., salary NUMBER(2)     CONSTRAINT emp_salary_min              CHECK (salary > 0),...Adding a Constraint Syntax§Use the ALTER TABLE statement to:•Add or drop a constraint, but not modify its structure•Enable or disable constraints•Add a NOT NULL constraint by using the MODIFY clauseALTER TABLE  table  ADD [CONSTRAINT constraint] type (column);Adding a ConstraintAdd a FOREIGN KEY constraint to the EMPLOYEES table indicating that a manager must already exist as a valid employee in the EMPLOYEES table.ALTER TABLE     employeesADD CONSTRAINT  emp_manager_fk

In [7]:
# Combinig chunks of your textual data to form a List. 

docs = []

for chunk in texts:
    docs.append(chunk.page_content)

print(docs[:2])

['Data Management & Visualization (DMV) Module 1Structured Query Language (SQL)Index\n2Lecture  1Overview of SQL4Lecture  1Data Types, Data Definition Commands. 16Lecture  2Data Manipulation commands32Lecture  2Integrity constraints ; Referential integrity , check constraints 38Lecture 1 Overview of SQLOverview of SQL- What is SQL?§Standard command set used to communicate with relational DBMS.§ All tasks related to Relational Database Management like creating table, querying the database for information , modifying data in the database.Advantages§High level  language that provides a greater degree of abstraction than procedural languages.§Allow the end-users to deal with number of database management systems where it is available.§Simple and easy to learn can handle complex situation.§All SQL operations are performed at set level.§For digital systems, the variable takes on discrete values.4Data Models', '5Model ofsystemin client’smindEntity model ofclient’s modelTable modelof entity modelTables on diskOracleserverDefinition of a Relational Database\nRelational Model and relational Algebra6A relational database is a collection of relations or two-dimensional tables.\nOracle\nserverTable Name: EMPLOYEESTable Name: DEPARTMENTS……\n7Relational Database Management System\nUser tablesData dictionaryServer8Communicating with a RDBMS Using SQL\nSELECT department_name FROM   departments;SQL statementis entered.OracleserverStatement is sent to Oracle Server.\nAdvantages of DBMS§No redundant data §Data Consistency§Secure§Privacy – Limited access§Easy access to data§Easy recovery\n9Relational Model \n10NameAddressPhone_noDOBSemester Smith...IIIJones...IIICurry...IIIJack...IIIStudentRelation\nRecord/tupleColumn/Attribute\nDomain Example 2-Employee Relation\n11IDNameAgeSalary1Adam34130002Alex28150003Stuart20180004Ross4219020What is a Record/Tuple, Column/Attribute, Domain?']

In [8]:
class GeminiEmbeddingFunction(EmbeddingFunction):
    def __call__(self, input: Documents) -> Embeddings:
        model = 'models/embedding-001'
        title = 'LinkedIn API'
        return genai.embed_content(
            model=model,
            content=input,
            task_type="retrieval_document",
            title=title)["embedding"]

In [9]:
# Function to define and create you Vector Databse of chromadb in Database folders

def create_chroma_db(docs,name):
    chroma_client = chromadb.PersistentClient(path="db address") #Don't forget to change path
    db = chroma_client.get_or_create_collection(
        name=name, embedding_function=GeminiEmbeddingFunction())
    
    initial_size = db.count()
    for i, d in tqdm(enumerate(docs), total=len(docs), desc="Creating Chroma DB"):
        db.add(
            documents=d,
            ids=str(i + initial_size)
        )
        time.sleep(0.5)
    return db


def get_chroma_db(name):
    chroma_client = chromadb.PersistentClient(path="db address 2") # Here as well 
    return chroma_client.get_collection(name=name, function=EmbeddingFunction())

In [10]:
# Creating your Vector Database. [Don't unneccessarily run this code]

db = create_chroma_db(docs, "sme_db")
db.count()

Creating Chroma DB: 100%|██████████| 131/131 [02:15<00:00,  1.04s/it]

11228

In [11]:
pd.DataFrame(db.peek(11097))

,ids,embeddings,metadatas,documents,uris,data
0,0,"[0.015172463841736317, -0.010413325391709805, ...",None,Python Tutorial\nRelease 3.7.0\nGuido van Ross...,None,None
1,1,"[0.03553083539009094, 0.01233371626585722, -0....",None,4.3 The range() Function . . . . . . . . . . ....,None,None
2,10,"[0.019464796409010887, -0.03204401955008507, -...",None,"and tools, and additional documentation.\nThe ...",None,None
3,100,"[-0.0029656183905899525, 0.003489450318738818,...",None,Yuck!\nC>\nThese two variables are only deﬁned...,None,None
4,1000,"[-0.03242751583456993, -0.009994188323616982, ...",None,"compare unequal (except with themselves), and ...",None,None
...,...,...,...,...,...,...
11092,9877,"[-0.009271173737943172, -0.08612344413995743, ...",None,UNDER_DELIVER Y_AUDIENCE_EXP ANSION\nOVER_DELI...,None,None
11093,9878,"[0.02701648883521557, -0.07625408470630646, -0...",None,urn:li:sponsoredCampaign:12244313 and urn:li:s...,None,None
11094,9879,"[0.03511833772063255, -0.06084388121962547, -0...",None,HTTP\nField\nNameRequir ed Descr iption\nentit...,None,None
11095,988,"[0.012748446315526962, 0.019533473998308182, -...",None,Zero-dimensional buﬀers are C and Fortran cont...,None,None
11096,9880,"[0.008453541435301304, -0.05648592859506607, -...",None,SponsoredCampaign and SponsoredCampaignGroup)\...,None,None

In [12]:
len(pd.DataFrame(db.peek(10)).iloc[0]["embeddings"])

768

In [13]:
# Function to retrieve fact from the vector database

def get_relevant_passages(query, db, n_results):
    passages = db.query(query_texts=[query], n_results=n_results)['documents'][0]
    return passages

In [14]:
model = genai.GenerativeModel('gemini-pro')

In [15]:
chats = {}

In [16]:
def extract_text_from_response(response):
    # Initialize an empty string to accumulate text
    extracted_text = ""
    
    # Check if the response has a 'parts' attribute and iterate over it if present
    if hasattr(response, 'parts'):
        for part in response.parts:
            if hasattr(part, 'text'):  # Ensure the part has a 'text' attribute
                extracted_text += part.text + "\n"  # Append the text from each part
    
    # Alternatively, if the structure is deeper (e.g., candidates with content parts):
    elif hasattr(response, 'candidates') and len(response.candidates) > 0:
        for candidate in response.candidates:
            for part in candidate.content.parts:
                if hasattr(part, 'text'):
                    extracted_text += part.text + "\n"
    
    return extracted_text.strip()  # Return the combined text, stripping any trailing newline

In [106]:
def make_prompt(ques, knowledge, chats):
    text = knowledge.replace("'","").replace('"','') #even i dont know why i did this


    # Choose from the given prompts which suits you the BEST
    # If you want you may create your own prompt by referring to the following options
    # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


    # prompt = f"""question: {ques}.\n
    # information base or knowledge base: {text}\n
    # Answer the question in 1250-2500 words strictly based on the information base or knowledge base given, \n
    # If the question is asking for a code then also explain the algorithm, if the question is asking for career guidance then provide complete career guidance and links for various courses, if difference is asked differentiate with minimum 7 points in tabular format and one example
    # if the information is not sufficient then give output as "Info not good to answer"
    # """

    # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    # prompt = f"""question: {ques}.\n
    # information base or knowledge base: {text}\n
    # Answer the question strictly based from {text} by filtering the required information from {text}\n
    # Generate a sophisticated and neat answer such that it could be written in exam\n
    # if the information is not sufficient then use keywords from {text} related to {ques} and answer the queestion and at the end of answer mention "[from other sources as well]" BUT try to give answers from only and only{text}\n
    # If the question is asking for a code then also explain the algorithm,\n 
    # if the question is asking for career guidance then provide complete career guidance and links for various courses, \n
    # if difference is asked differentiate with minimum 7 points in tabular format and one example
    # MOST IMPORTANTLY: answer the questions from {text} in such a way to write in exam\n
    # NOTE: try to answwer {ques} from {text} as much as possible
    # """

    # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    # prompt = f"""question: {ques}.\n
    # chat histoty: {chats}\n
    # information base or knowledge base: {text}\n
    # Work like a answer generarting bot for exam who generates answer for given {ques} based on the {text} provided. Generate output in such a way that it should be written in examination.
    # check whether {ques} is a question or an instruction, if its an instruction give an affirmative response \n
    # ELSE
    # Answer the question STRICTLY based from {text} by filtering the required information from {text}\n
    # if the information is not sufficient then use keywords from {text} related to {ques} and answer the queestion and at the end of answer mention "[from other sources as well]" BUT try to give answers from only and only{text}\n
    # If the question is asking for a code then also explain the algorithm,\n 
    # if the question is asking for career guidance then provide complete career guidance and links for various courses, \n
    # if difference is asked differentiate with minimum 7 points in tabular format and one example\n
    # Also DO NOT forget to consider the previous qquestions and the answers you gave for it :{chats}\n
    # If the question refers about past questions or answers, generate the answer considering {chats} and {text}
    # MOST IMPORTANTLY: answer the questions from {text} in such a way to write in exam\n
    # NOTE: try to answwer {ques} from {text} as much as possible, and bigger answer is prefered
    # """

    # --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

    prompt = f"""Given the question '{ques}', the previous chat history '{chats}', and a knowledge base '{text}':
    1. Identify if '{ques}' is a question or an instruction. For instructions, provide an affirmative response.
    2. If it's a question, answer it based on the information in '{text}'. Generate the answer which is suitable for an exam setting.
    3. If '{ques}' requires information beyond '{text}', use related keywords from '{text}' to answer but don't left any question unanswered, and mention [from other sources as well] at the end.
    4. For coding questions, include an algorithm explanation. For career guidance inquiries, offer comprehensive advice and resource links. If asked to differentiate, provide at least 7 comparison points in a table with an example.
    5. Incorporate relevant details from the chat history '{chats}' when answering, especially if the question refers to previous discussions.
    6. Aim to source answers primarily from '{text}', ensuring the response is detailed (answer should be big) and exam-appropriate.
    """ 

    gen_config = GenerationConfig(temperature=0.7)
    answer_text = model.generate_content(prompt,generation_config=gen_config)
    answer = extract_text_from_response(answer_text)
    
    return answer

# <span style="color:yellow">Question:-</span>

In [135]:
ques = " Draw the star schema for previous answer "
passages = get_relevant_passages(ques, db, n_results=25) #i have kept the n_results more because i wanted more info to be included in my answwer
txt = ""
for passage in passages:
    txt += passage

In [136]:
def list_to_string(passages):
    content = ""
    for passage in passages:
        content += passage + "\n"
    return content

cont = list_to_string(passages)

In [137]:
cont = cont.replace('Module :1 Introduction to Big Data and Hadoop',' ') #this is subjective for this data
cont = cont.replace('Lecture 1: Introduction to Big Data3Lecture 2: Hadoop Ecosystem 58  Lecture 3: Introduction to spark3Lecture 4: Hadoop vs Spark58',' ') #this is subjective for this data
cont = cont.replace('\n',' ')  #this is subjective for this data
cont

'a valid employee in the EMPLOYEES table.ALTER TABLE     employeesADD CONSTRAINT  emp_manager_fk   FOREIGN KEY(manager_id)   REFERENCES employees(employee_id); a valid employee in the EMPLOYEES table.ALTER TABLE     employeesADD CONSTRAINT  emp_manager_fk   FOREIGN KEY(manager_id)   REFERENCES employees(employee_id); a valid employee in the EMPLOYEES table.ALTER TABLE     employeesADD CONSTRAINT  emp_manager_fk   FOREIGN KEY(manager_id)   REFERENCES employees(employee_id); "lifecycleState" : "PUBLISHED" ,            "lastModifiedAt" : 1648515427782 ,            "visibility" : "PUBLIC" ,            "publishedAt" : 1648515427701 ,            "author" : "urn:li:organization:1234567" ,            "distribution" : {                "feedDistribution" : "NONE",                "thirdPartyDistributionChannels" : []            },            "content" : {                "carousel" : {                    "cards": [                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": {                                "title": "first card" ,                                "taggedEntities" : [],                                "id": "urn:li:image:C4E22AQGX_uq7mQBfAA"                            }                        },                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": { "lifecycleState" : "PUBLISHED" ,            "lastModifiedAt" : 1648515427782 ,            "visibility" : "PUBLIC" ,            "publishedAt" : 1648515427701 ,            "author" : "urn:li:organization:1234567" ,            "distribution" : {                "feedDistribution" : "NONE",                "thirdPartyDistributionChannels" : []            },            "content" : {                "carousel" : {                    "cards": [                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": {                                "title": "first card" ,                                "taggedEntities" : [],                                "id": "urn:li:image:C4E22AQGX_uq7mQBfAA"                            }                        },                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": { "lifecycleState" : "PUBLISHED" ,            "lastModifiedAt" : 1648515427782 ,            "visibility" : "PUBLIC" ,            "publishedAt" : 1648515427701 ,            "author" : "urn:li:organization:1234567" ,            "distribution" : {                "feedDistribution" : "NONE",                "thirdPartyDistributionChannels" : []            },            "content" : {                "carousel" : {                    "cards": [                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": {                                "title": "first card" ,                                "taggedEntities" : [],                                "id": "urn:li:image:C4E22AQGX_uq7mQBfAA"                            }                        },                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": { "lifecycleState" : "PUBLISHED" ,            "lastModifiedAt" : 1648515427782 ,            "visibility" : "PUBLIC" ,            "publishedAt" : 1648515427701 ,            "author" : "urn:li:organization:1234567" ,            "distribution" : {                "feedDistribution" : "NONE",                "thirdPartyDistributionChannels" : []            },            "content" : {                "carousel" : {                    "cards": [                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": {                                "title": "first card" ,                                "taggedEntities" : [],                                "id": "urn:li:image:C4E22AQGX_uq7mQBfAA"                            }                        },                        {                            "landingPage" : "http://www.linkedin.com/" ,                            "media": { NUMBER(6),         first_name   VARCHAR2(20),       ...       job_id       VARCHAR2(10) NOT NULL,      CONSTRAINT emp_emp_id_pk              PRIMARY KEY (EMPLOYEE_ID));The NOT NULL ConstraintEnsures that null values are not permitted for the column: NUMBER(6),         first_name   VARCHAR2(20),       ...       job_id       VARCHAR2(10) NOT NULL,      CONSTRAINT emp_emp_id_pk              PRIMARY KEY (EMPLOYEE_ID));The NOT NULL ConstraintEnsures that null values are not permitted for the column: NUMBER(6),         first_name   VARCHAR2(20),       ...       job_id       VARCHAR2(10) NOT NULL,      CONSTRAINT emp_emp_id_pk              PRIMARY KEY (EMPLOYEE_ID));The NOT NULL ConstraintEnsures that null values are not permitted for the column: }                                     }                                 },                                 "identifiers" : [                                     {                                         "identifier" :  "https://example.com/image.jpg" ,                                         "index": 0,                                         "mediaType" : "image/jpeg" ,                                         "file": "urn:li:digitalmediaFile: (urn:li:digitalmediaAsset:C5603AQEuebSM6NP8wq,urn:li:digitalmediaMediaArtifa ctClass:profile-displayphoto-shrink_800_800,0)" ,                                         "identifierType" : "EXTERNAL_URL" ,                                         "identifierExpiresInSeconds" :  1609372800                                     }                                 ]                             }                         ]                     }                 },                 "firstName" : { }                                     }                                 },                                 "identifiers" : [                                     {                                         "identifier" :  "https://example.com/image.jpg" ,                                         "index": 0,                                         "mediaType" : "image/jpeg" ,                                         "file": "urn:li:digitalmediaFile: (urn:li:digitalmediaAsset:C5603AQEuebSM6NP8wq,urn:li:digitalmediaMediaArtifa ctClass:profile-displayphoto-shrink_800_800,0)" ,                                         "identifierType" : "EXTERNAL_URL" ,                                         "identifierExpiresInSeconds" :  1609372800                                     }                                 ]                             }                         ]                     }                 },                 "firstName" : { }                                     }                                 },                                 "identifiers" : [                                     {                                         "identifier" :  "https://example.com/image.jpg" ,                                         "index": 0,                                         "mediaType" : "image/jpeg" ,                                         "file": "urn:li:digitalmediaFile: (urn:li:digitalmediaAsset:C5603AQEuebSM6NP8wq,urn:li:digitalmediaMediaArtifa ctClass:profile-displayphoto-shrink_800_800,0)" ,                                         "identifierType" : "EXTERNAL_URL" ,                                         "identifierExpiresInSeconds" :  1609372800                                     }                                 ]                             }                         ]                     }                 },                 "firstName" : { }                                     }                                 },                                 "identifiers" : [                                     {                                         "identifier" :  "https://example.com/image.jpg" ,                                         "index": 0,                                         "mediaType" : "image/jpeg" ,                                         "file": "urn:li:digitalmediaFile: (urn:li:digitalmediaAsset:C5603AQEuebSM6NP8wq,urn:li:digitalmediaMediaArtifa ctClass:profile-displayphoto-shrink_800_800,0)" ,                                         "identifierType" : "EXTERNAL_URL" ,                                         "identifierExpiresInSeconds" :  1609372800                                     }                                 ]                             }                         ]                     }                 },                 "firstName" : { idType IdType Type of this ID. All IDs of a given type must use the same format/encoding. \xa0 idValue string An opaque ID in type-specific format. userIds \xa0 List[T ypedId] (optional)List of ID to match. \xa0 idType IdType Type of this ID. All IDs of a given type must use theRate Limits Add or Remove a User Schema ﾉExpand tableField NameSub- FieldType Descr iption same format/encoding. \xa0 idValue string An opaque ID in type-specific format. firstName String (optional)A plain text string with max length 35 characters representing the first name of the contact to match e.g. Mike lastName String (optional)A plain text string with max length 35 characters representing the last name of the contact to match e.g. Smith title String (optional)A plain text string with max length 50 characters representing the title name of the contact to match e.g. Software Engineer company String (optional)A plain text string with max length 50 characters representing the company name of the contact to idType IdType Type of this ID. All IDs of a given type must use the same format/encoding. \xa0 idValue string An opaque ID in type-specific format. userIds \xa0 List[T ypedId] (optional)List of ID to match. \xa0 idType IdType Type of this ID. All IDs of a given type must use theRate Limits Add or Remove a User Schema ﾉExpand tableField NameSub- FieldType Descr iption same format/encoding. \xa0 idValue string An opaque ID in type-specific format. firstName String (optional)A plain text string with max length 35 characters representing the first name of the contact to match e.g. Mike lastName String (optional)A plain text string with max length 35 characters representing the last name of the contact to match e.g. Smith title String (optional)A plain text string with max length 50 characters representing the title name of the contact to match e.g. Software Engineer company String (optional)A plain text string with max length 50 characters representing the company name of the contact to idType IdType Type of this ID. All IDs of a given type must use the same format/encoding. \xa0 idValue string An opaque ID in type-specific format. userIds \xa0 List[T ypedId] (optional)List of ID to match. \xa0 idType IdType Type of this ID. All IDs of a given type must use theRate Limits Add or Remove a User Schema ﾉExpand tableField NameSub- FieldType Descr iption same format/encoding. \xa0 idValue string An opaque ID in type-specific format. firstName String (optional)A plain text string with max length 35 characters representing the first name of the contact to match e.g. Mike lastName String (optional)A plain text string with max length 35 characters representing the last name of the contact to match e.g. Smith title String (optional)A plain text string with max length 50 characters representing the title name of the contact to match e.g. Software Engineer company String (optional)A plain text string with max length 50 characters representing the company name of the contact to idType IdType Type of this ID. All IDs of a given type must use the same format/encoding. \xa0 idValue string An opaque ID in type-specific format. userIds \xa0 List[T ypedId] (optional)List of ID to match. \xa0 idType IdType Type of this ID. All IDs of a given type must use theRate Limits Add or Remove a User Schema ﾉExpand tableField NameSub- FieldType Descr iption same format/encoding. \xa0 idValue string An opaque ID in type-specific format. firstName String (optional)A plain text string with max length 35 characters representing the first name of the contact to match e.g. Mike lastName String (optional)A plain text string with max length 35 characters representing the last name of the contact to match e.g. Smith title String (optional)A plain text string with max length 50 characters representing the title name of the contact to match e.g. Software Engineer company String (optional)A plain text string with max length 50 characters representing the company name of the contact to transition from your earlier tools where you can extend the boundaries of traditional relational data processing.Spark Eco-System },                         "predefinedField" : "FIRST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 10540,                         "question" : {                             "localized" : {                                 "en_US": "Last Name"                             }                         },                         "responseEditable" : true,                         "name": "lastName" ,                         "questionDetails" : {                             "textQuestionDetails" : {                                 "maxResponseLength" : 300                             }                         },                         "predefinedField" : "LAST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 9244,                         "question" : { },                         "predefinedField" : "FIRST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 10540,                         "question" : {                             "localized" : {                                 "en_US": "Last Name"                             }                         },                         "responseEditable" : true,                         "name": "lastName" ,                         "questionDetails" : {                             "textQuestionDetails" : {                                 "maxResponseLength" : 300                             }                         },                         "predefinedField" : "LAST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 9244,                         "question" : { },                         "predefinedField" : "FIRST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 10540,                         "question" : {                             "localized" : {                                 "en_US": "Last Name"                             }                         },                         "responseEditable" : true,                         "name": "lastName" ,                         "questionDetails" : {                             "textQuestionDetails" : {                                 "maxResponseLength" : 300                             }                         },                         "predefinedField" : "LAST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 9244,                         "question" : { },                         "predefinedField" : "FIRST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 10540,                         "question" : {                             "localized" : {                                 "en_US": "Last Name"                             }                         },                         "responseEditable" : true,                         "name": "lastName" ,                         "questionDetails" : {                             "textQuestionDetails" : {                                 "maxResponseLength" : 300                             }                         },                         "predefinedField" : "LAST_NAME" ,                         "responseRequired" : true                     },                     {                         "questionId" : 9244,                         "question" : { "publishedAt" : 1634817394721 ,       "author" : "urn:li:organization:2414183" ,       "distribution" : {         "feedDistribution" : "MAIN_FEED" ,         "thirdPartyDistributionChannels" : []       },       "content" : {},       "lifecycleStateInfo" : {         "isEditedByAuthor" : false       },       "isReshareDisabledByAuthor" : false,       "createdAt" : 1634817394721 ,       "id": "urn:li:share:6856921137721544704" ,       "commentary" : ""     },     {       "lifecycleState" : "PUBLISHED" ,       "lastModifiedAt" : 1634814069101 ,       "visibility" : "PUBLIC" ,       "publishedAt" : 1634813460041 ,       "author" : "urn:li:organization:2414183" ,       "distribution" : {         "feedDistribution" : "MAIN_FEED" ,         "thirdPartyDistributionChannels" : []       },       "lifecycleStateInfo" : {         "isEditedByAuthor" : false       },       "isReshareDisabledByAuthor" : false,       "createdAt" : 1634813460041 ,       "id": "urn:li:share:6856904634360066048" , "publishedAt" : 1634817394721 ,       "author" : "urn:li:organization:2414183" ,       "distribution" : {         "feedDistribution" : "MAIN_FEED" ,         "thirdPartyDistributionChannels" : []       },       "content" : {},       "lifecycleStateInfo" : {         "isEditedByAuthor" : false       },       "isReshareDisabledByAuthor" : false,       "createdAt" : 1634817394721 ,       "id": "urn:li:share:6856921137721544704" ,       "commentary" : ""     },     {       "lifecycleState" : "PUBLISHED" ,       "lastModifiedAt" : 1634814069101 ,       "visibility" : "PUBLIC" ,       "publishedAt" : 1634813460041 ,       "author" : "urn:li:organization:2414183" ,       "distribution" : {         "feedDistribution" : "MAIN_FEED" ,         "thirdPartyDistributionChannels" : []       },       "lifecycleStateInfo" : {         "isEditedByAuthor" : false       },       "isReshareDisabledByAuthor" : false,       "createdAt" : 1634813460041 ,       "id": "urn:li:share:6856904634360066048" , '

In [138]:
answer = make_prompt(ques, cont, chats)

In [139]:
answer

'**Exam-Appropriate Response:**\n\n**Question:** Draw the star schema for the previous answer.\n\n**Answer:**\n\nA star schema is a data warehouse design pattern that is optimized for querying data from multiple dimensions. It consists of a fact table and multiple dimension tables. The fact table contains the main business data, while the dimension tables contain the descriptive attributes for each dimension.\n\nIn the previous answer, the fact table is the `Sales` table, which contains the following columns:\n\n* `Product_ID`\n* `Order_ID`\n* `Customer_ID`\n* `Employee_ID`\n* `Total_Sales`\n* `Quantity_Sold`\n* `Discount`\n\nThe dimension tables are:\n\n* `Product` table, which contains the following columns:\n    * `Product_ID`\n    * `Product_Name`\n    * `Product_Category`\n    * `Unit_Price`\n* `Customer` table, which contains the following columns:\n    * `Customer_ID`\n    * `Customer_Name`\n    * `Customer_Address`\n    * `Customer_City`\n    * `Customer_State`\n    * `Customer_Zip_Code`\n* `Employee` table, which contains the following columns:\n    * `Employee_ID`\n    * `Employee_Name`\n    * `Employee_Title`\n    * `Employee_Department`\n    * `Employee_Region`\n* `Time` table, which contains the following columns:\n    * `Order_ID`\n    * `Order_Date`\n    * `Order_Year`\n    * `Order_Quarter`\n    * `Order_Month`\n\nThe relationships between the tables are as follows:\n\n* The `Sales` table is related to the `Product` table by the `Product_ID` column.\n* The `Sales` table is related to the `Customer` table by the `Customer_ID` column.\n* The `Sales` table is related to the `Employee` table by the `Employee_ID` column.\n* The `Sales` table is related to the `Time` table by the `Order_ID` column.\n\nThe star schema for the previous answer is shown below:\n\n```\nSales\n| Product_ID | Order_ID | Customer_ID | Employee_ID | Total_Sales | Quantity_Sold | Discount |\n|---|---|---|---|---|---|---|\n| 1 | 1 | 1 | 1 | 100.00 | 10 | 0.10 |\n| 2 | 2 | 2 | 2 | 200.00 | 20 | 0.15 |\n| 3 | 3 | 3 | 3 | 300.00 | 30 | 0.20 |\n| 4 | 4 | 4 | 4 | 400.00 | 40 | 0.25 |\n| 5 | 5 | 5 | 5 | 500.00 | 50 | 0.30 |\n\nProduct\n| Product_ID | Product_Name | Product_Category | Unit_Price |\n|---|---|---|---|\n| 1 | Product A | Category A | 10.00 |\n| 2 | Product B | Category B | 20.00 |\n| 3 | Product C | Category C | 30.00 |\n| 4 | Product D | Category D | 40.00 |\n| 5 | Product E | Category E | 50.00 |\n\nCustomer\n| Customer_ID | Customer_Name | Customer_Address | Customer_City | Customer_State | Customer_Zip_Code |\n|---|---|---|---|---|---|\n| 1 | Customer A | 123 Main Street | Anytown | CA | 12345 |\n| 2 | Customer B | 456 Elm Street | Hometown | NY | 54321 |\n| 3 | Customer C | 789 Oak Street | Cityville | TX | 67890 |\n| 4 | Customer D | 1011 Pine Street | Woodville | FL | 23456 |\n| 5 | Customer E | 1213 Maple Street | Springville | IL | 34567 |\n\nEmployee\n| Employee_ID | Employee_Name | Employee_Title | Employee_Department | Employee_Region |\n|---|---|---|---|---|\n| 1 | Employee A | Salesperson | Sales | East |\n| 2 | Employee B | Manager | Management | West |\n| 3 | Employee C | Analyst | Analytics | Central |\n| 4 | Employee D | Developer | Development | South |\n| 5 | Employee E | Tester | Testing | North |\n\nTime\n| Order_ID | Order_Date | Order_Year | Order_Quarter | Order_Month |\n|---|---|---|---|---|\n| 1 | 2023-01-01 | 2023 | 1 | 1 |\n| 2 | 2023-02-01 | 2023 | 1 | 2 |\n| 3 | 2023-03-01 | 2023 | 1 | 3 |\n| 4 | 2023-04-01 | 2023 | 2 | 1 |\n| 5 | 2023-05-01 | 2023 | 2 | 2 |\n```\n\nThis star schema can be used to answer queries such as:\n\n* What is the total sales for each product?\n* What is the average sales price for each product category?\n* Who are the top 10 customers in terms of total sales?\n* What is the sales trend over time?'

In [140]:
# Function to add a new Q&A pair
def chat_history(ques, answer, chats):
    next_id = len(chats) + 1
    chats[next_id] = {"question": ques, "answer": answer}
if len(chats):
    if (chats[len(chats)]['question']!=ques or chats[len(chats)]['question']!=ques):
        chat_history(ques=ques, answer=answer, chats=chats)
    else:
        print("same")
else:
    chat_history(ques=ques, answer=answer, chats=chats)

# <span style="color:yellow">Answer</span>

In [141]:
Markdown(answer)

**Exam-Appropriate Response:**

**Question:** Draw the star schema for the previous answer.

**Answer:**

A star schema is a data warehouse design pattern that is optimized for querying data from multiple dimensions. It consists of a fact table and multiple dimension tables. The fact table contains the main business data, while the dimension tables contain the descriptive attributes for each dimension.

In the previous answer, the fact table is the `Sales` table, which contains the following columns:

* `Product_ID`
* `Order_ID`
* `Customer_ID`
* `Employee_ID`
* `Total_Sales`
* `Quantity_Sold`
* `Discount`

The dimension tables are:

* `Product` table, which contains the following columns:
    * `Product_ID`
    * `Product_Name`
    * `Product_Category`
    * `Unit_Price`
* `Customer` table, which contains the following columns:
    * `Customer_ID`
    * `Customer_Name`
    * `Customer_Address`
    * `Customer_City`
    * `Customer_State`
    * `Customer_Zip_Code`
* `Employee` table, which contains the following columns:
    * `Employee_ID`
    * `Employee_Name`
    * `Employee_Title`
    * `Employee_Department`
    * `Employee_Region`
* `Time` table, which contains the following columns:
    * `Order_ID`
    * `Order_Date`
    * `Order_Year`
    * `Order_Quarter`
    * `Order_Month`

The relationships between the tables are as follows:

* The `Sales` table is related to the `Product` table by the `Product_ID` column.
* The `Sales` table is related to the `Customer` table by the `Customer_ID` column.
* The `Sales` table is related to the `Employee` table by the `Employee_ID` column.
* The `Sales` table is related to the `Time` table by the `Order_ID` column.

The star schema for the previous answer is shown below:

```
Sales
| Product_ID | Order_ID | Customer_ID | Employee_ID | Total_Sales | Quantity_Sold | Discount |
|---|---|---|---|---|---|---|
| 1 | 1 | 1 | 1 | 100.00 | 10 | 0.10 |
| 2 | 2 | 2 | 2 | 200.00 | 20 | 0.15 |
| 3 | 3 | 3 | 3 | 300.00 | 30 | 0.20 |
| 4 | 4 | 4 | 4 | 400.00 | 40 | 0.25 |
| 5 | 5 | 5 | 5 | 500.00 | 50 | 0.30 |

Product
| Product_ID | Product_Name | Product_Category | Unit_Price |
|---|---|---|---|
| 1 | Product A | Category A | 10.00 |
| 2 | Product B | Category B | 20.00 |
| 3 | Product C | Category C | 30.00 |
| 4 | Product D | Category D | 40.00 |
| 5 | Product E | Category E | 50.00 |

Customer
| Customer_ID | Customer_Name | Customer_Address | Customer_City | Customer_State | Customer_Zip_Code |
|---|---|---|---|---|---|
| 1 | Customer A | 123 Main Street | Anytown | CA | 12345 |
| 2 | Customer B | 456 Elm Street | Hometown | NY | 54321 |
| 3 | Customer C | 789 Oak Street | Cityville | TX | 67890 |
| 4 | Customer D | 1011 Pine Street | Woodville | FL | 23456 |
| 5 | Customer E | 1213 Maple Street | Springville | IL | 34567 |

Employee
| Employee_ID | Employee_Name | Employee_Title | Employee_Department | Employee_Region |
|---|---|---|---|---|
| 1 | Employee A | Salesperson | Sales | East |
| 2 | Employee B | Manager | Management | West |
| 3 | Employee C | Analyst | Analytics | Central |
| 4 | Employee D | Developer | Development | South |
| 5 | Employee E | Tester | Testing | North |

Time
| Order_ID | Order_Date | Order_Year | Order_Quarter | Order_Month |
|---|---|---|---|---|
| 1 | 2023-01-01 | 2023 | 1 | 1 |
| 2 | 2023-02-01 | 2023 | 1 | 2 |
| 3 | 2023-03-01 | 2023 | 1 | 3 |
| 4 | 2023-04-01 | 2023 | 2 | 1 |
| 5 | 2023-05-01 | 2023 | 2 | 2 |
```

This star schema can be used to answer queries such as:

* What is the total sales for each product?
* What is the average sales price for each product category?
* Who are the top 10 customers in terms of total sales?
* What is the sales trend over time?

In [142]:
if len(chats)>1:
    print(chats[len(chats)-1])
print(chats[len(chats)])
print(f"Length of chats is: {len(chats)}")

{'question': ' Write a set of SQL queries to implement Star Schema ', 'answer': "**SQL Queries to Implement Star Schema:**\n\n```sql\n-- Create the fact table\nCREATE TABLE FactSales (\n  Product_ID INT NOT NULL,\n  Order_ID INT NOT NULL,\n  Customer_ID INT NOT NULL,\n  Employee_ID INT NOT NULL,\n  Total_Sales DECIMAL(10, 2) NOT NULL,\n  Quantity_Sold INT NOT NULL,\n  Discount DECIMAL(5, 2) NOT NULL,\n  PRIMARY KEY (Product_ID, Order_ID)\n);\n\n-- Create the dimension tables\nCREATE TABLE DimProduct (\n  Product_ID INT NOT NULL,\n  Product_Name VARCHAR(50) NOT NULL,\n  Product_Category VARCHAR(50) NOT NULL,\n  Unit_Price DECIMAL(10, 2) NOT NULL,\n  PRIMARY KEY (Product_ID)\n);\n\nCREATE TABLE DimCustomer (\n  Customer_ID INT NOT NULL,\n  Customer_Name VARCHAR(50) NOT NULL,\n  Customer_Address VARCHAR(100) NOT NULL,\n  Customer_City VARCHAR(50) NOT NULL,\n  Customer_State VARCHAR(2) NOT NULL,\n  Customer_Zip_Code VARCHAR(10) NOT NULL,\n  PRIMARY KEY (Customer_ID)\n);\n\nCREATE TABLE DimEmployee (\n  Employee_ID INT NOT NULL,\n  Employee_Name VARCHAR(50) NOT NULL,\n  Employee_Title VARCHAR(50) NOT NULL,\n  Employee_Department VARCHAR(50) NOT NULL,\n  Employee_Region VARCHAR(50) NOT NULL,\n  PRIMARY KEY (Employee_ID)\n);\n\nCREATE TABLE DimTime (\n  Order_ID INT NOT NULL,\n  Order_Date DATE NOT NULL,\n  Order_Year INT NOT NULL,\n  Order_Quarter INT NOT NULL,\n  Order_Month INT NOT NULL,\n  PRIMARY KEY (Order_ID)\n);\n\n-- Insert data into the tables\nINSERT INTO FactSales (Product_ID, Order_ID, Customer_ID, Employee_ID, Total_Sales, Quantity_Sold, Discount)\nVALUES\n  (1, 1, 1, 1, 100.00, 10, 0.10),\n  (2, 2, 2, 2, 200.00, 20, 0.15),\n  (3, 3, 3, 3, 300.00, 30, 0.20),\n  (4, 4, 4, 4, 400.00, 40, 0.25),\n  (5, 5, 5, 5, 500.00, 50, 0.30);\n\nINSERT INTO DimProduct (Product_ID, Product_Name, Product_Category, Unit_Price)\nVALUES\n  (1, 'Product A', 'Category A', 10.00),\n  (2, 'Product B', 'Category B', 20.00),\n  (3, 'Product C', 'Category C', 30.00),\n  (4, 'Product D', 'Category D', 40.00),\n  (5, 'Product E', 'Category E', 50.00);\n\nINSERT INTO DimCustomer (Customer_ID, Customer_Name, Customer_Address, Customer_City, Customer_State, Customer_Zip_Code)\nVALUES\n  (1, 'Customer A', '123 Main Street', 'Anytown', 'CA', '12345'),\n  (2, 'Customer B', '456 Elm Street', 'Hometown', 'NY', '54321'),\n  (3, 'Customer C', '789 Oak Street', 'Cityville', 'TX', '67890'),\n  (4, 'Customer D', '1011 Pine Street', 'Woodville', 'FL', '23456'),\n  (5, 'Customer E', '1213 Maple Street', 'Springville', 'IL', '34567');\n\nINSERT INTO DimEmployee (Employee_ID, Employee_Name, Employee_Title, Employee_Department, Employee_Region)\nVALUES\n  (1, 'Employee A', 'Salesperson', 'Sales', 'East'),\n  (2, 'Employee B', 'Manager', 'Management', 'West'),\n  (3, 'Employee C', 'Analyst', 'Analytics', 'Central'),\n  (4, 'Employee D', 'Developer', 'Development', 'South'),\n  (5, 'Employee E', 'Tester', 'Testing', 'North');\n\nINSERT INTO DimTime (Order_ID, Order_Date, Order_Year, Order_Quarter, Order_Month)\nVALUES\n  (1, '2023-01-01', 2023, 1, 1),\n  (2, '2023-02-01', 2023, 1, 2),\n  (3, '2023-03-01', 2023, 1, 3),\n  (4, '2023-04-01', 2023, 2, 1),\n  (5, '2023-05-01', 2023, 2, 2);\n```\n\n**Explanation:**\n\nThe above SQL queries create a star schema with five dimension tables (DimProduct, DimCustomer, DimEmployee, DimTime) and one fact table (FactSales). The fact table contains the sales data, while the dimension tables contain the descriptive attributes for each dimension. The primary keys of the dimension tables are foreign keys in the fact table, which establishes the relationships between the tables.\n\nThe data in the tables is inserted using the `INSERT` statement. The data is representative of a sales system, with products, customers, employees, and time dimensions.\n\nTo query the data in the star schema, you can use SQL queries that join the fact table with the dimension tables. For example, the following query returns the total sales for each product:\n\n```sql\nSELECT\n  Product_Name,\n  SUM(Total_Sales) AS TotalSales\nFROM FactSales\nJOIN DimProduct\n  ON FactSales.Product_ID = DimProduct.Product_ID\nGROUP BY\n  Product_Name;\n```"}
{'question': ' Draw the star schema for previous answer ', 'answer': '**Exam-Appropriate Response:**\n\n**Question:** Draw the star schema for the previous answer.\n\n**Answer:**\n\nA star schema is a data warehouse design pattern that is optimized for querying data from multiple dimensions. It consists of a fact table and multiple dimension tables. The fact table contains the main business data, while the dimension tables contain the descriptive attributes for each dimension.\n\nIn the previous answer, the fact table is the `Sales` table, which contains the following columns:\n\n* `Product_ID`\n* `Order_ID`\n* `Customer_ID`\n* `Employee_ID`\n* `Total_Sales`\n* `Quantity_Sold`\n* `Discount`\n\nThe dimension tables are:\n\n* `Product` table, which contains the following columns:\n    * `Product_ID`\n    * `Product_Name`\n    * `Product_Category`\n    * `Unit_Price`\n* `Customer` table, which contains the following columns:\n    * `Customer_ID`\n    * `Customer_Name`\n    * `Customer_Address`\n    * `Customer_City`\n    * `Customer_State`\n    * `Customer_Zip_Code`\n* `Employee` table, which contains the following columns:\n    * `Employee_ID`\n    * `Employee_Name`\n    * `Employee_Title`\n    * `Employee_Department`\n    * `Employee_Region`\n* `Time` table, which contains the following columns:\n    * `Order_ID`\n    * `Order_Date`\n    * `Order_Year`\n    * `Order_Quarter`\n    * `Order_Month`\n\nThe relationships between the tables are as follows:\n\n* The `Sales` table is related to the `Product` table by the `Product_ID` column.\n* The `Sales` table is related to the `Customer` table by the `Customer_ID` column.\n* The `Sales` table is related to the `Employee` table by the `Employee_ID` column.\n* The `Sales` table is related to the `Time` table by the `Order_ID` column.\n\nThe star schema for the previous answer is shown below:\n\n```\nSales\n| Product_ID | Order_ID | Customer_ID | Employee_ID | Total_Sales | Quantity_Sold | Discount |\n|---|---|---|---|---|---|---|\n| 1 | 1 | 1 | 1 | 100.00 | 10 | 0.10 |\n| 2 | 2 | 2 | 2 | 200.00 | 20 | 0.15 |\n| 3 | 3 | 3 | 3 | 300.00 | 30 | 0.20 |\n| 4 | 4 | 4 | 4 | 400.00 | 40 | 0.25 |\n| 5 | 5 | 5 | 5 | 500.00 | 50 | 0.30 |\n\nProduct\n| Product_ID | Product_Name | Product_Category | Unit_Price |\n|---|---|---|---|\n| 1 | Product A | Category A | 10.00 |\n| 2 | Product B | Category B | 20.00 |\n| 3 | Product C | Category C | 30.00 |\n| 4 | Product D | Category D | 40.00 |\n| 5 | Product E | Category E | 50.00 |\n\nCustomer\n| Customer_ID | Customer_Name | Customer_Address | Customer_City | Customer_State | Customer_Zip_Code |\n|---|---|---|---|---|---|\n| 1 | Customer A | 123 Main Street | Anytown | CA | 12345 |\n| 2 | Customer B | 456 Elm Street | Hometown | NY | 54321 |\n| 3 | Customer C | 789 Oak Street | Cityville | TX | 67890 |\n| 4 | Customer D | 1011 Pine Street | Woodville | FL | 23456 |\n| 5 | Customer E | 1213 Maple Street | Springville | IL | 34567 |\n\nEmployee\n| Employee_ID | Employee_Name | Employee_Title | Employee_Department | Employee_Region |\n|---|---|---|---|---|\n| 1 | Employee A | Salesperson | Sales | East |\n| 2 | Employee B | Manager | Management | West |\n| 3 | Employee C | Analyst | Analytics | Central |\n| 4 | Employee D | Developer | Development | South |\n| 5 | Employee E | Tester | Testing | North |\n\nTime\n| Order_ID | Order_Date | Order_Year | Order_Quarter | Order_Month |\n|---|---|---|---|---|\n| 1 | 2023-01-01 | 2023 | 1 | 1 |\n| 2 | 2023-02-01 | 2023 | 1 | 2 |\n| 3 | 2023-03-01 | 2023 | 1 | 3 |\n| 4 | 2023-04-01 | 2023 | 2 | 1 |\n| 5 | 2023-05-01 | 2023 | 2 | 2 |\n```\n\nThis star schema can be used to answer queries such as:\n\n* What is the total sales for each product?\n* What is the average sales price for each product category?\n* Who are the top 10 customers in terms of total sales?\n* What is the sales trend over time?'}
Length of chats is: 3

In [143]:
Markdown(chats[1]['answer'])
# n = len(chats)
# id = 1
# while (id<=n):
#     Markdown(chats[id]['question'])
#     Markdown(chats[id]['answer'])
#     id += 1

**Differentiate between Data Node and Name Node**

| Feature | Data Node | Name Node |
|---|---|---|
| Purpose | Stores the actual data | Manages the file system namespace and regulates access to data |
| Location | On every machine in the Hadoop cluster | On the master node |
| Number of instances | Multiple | Single |
| Data storage | Data is stored in blocks on the local file system | Maintains a metadata table that tracks the location of data blocks |
| Data access | Applications read and write data directly from and to Data Nodes | Applications interact with the Name Node to determine the location of data blocks |
| Fault tolerance | Data is replicated across multiple Data Nodes | Maintains a backup of the metadata table on a secondary Name Node |
| Scalability | Can be easily scaled by adding more Data Nodes to the cluster | More difficult to scale, as it is a single point of failure |
| Performance | Can be optimized for specific workloads by tuning the local file system | Can be optimized for specific workloads by tuning the metadata management system |

**Example:**

In a Hadoop cluster, the Name Node stores the metadata for the file "/user/hadoop/input.txt". This metadata includes the location of the data blocks that make up the file. When an application wants to read the file, it first contacts the Name Node to get the location of the data blocks. The application then reads the data directly from the Data Nodes.

In [144]:
chats

{1: {'question': ' Differentiate between Data Node and Name Node ',
  'answer': '**Differentiate between Data Node and Name Node**\n\n| Feature | Data Node | Name Node |\n|---|---|---|\n| Purpose | Stores the actual data | Manages the file system namespace and regulates access to data |\n| Location | On every machine in the Hadoop cluster | On the master node |\n| Number of instances | Multiple | Single |\n| Data storage | Data is stored in blocks on the local file system | Maintains a metadata table that tracks the location of data blocks |\n| Data access | Applications read and write data directly from and to Data Nodes | Applications interact with the Name Node to determine the location of data blocks |\n| Fault tolerance | Data is replicated across multiple Data Nodes | Maintains a backup of the metadata table on a secondary Name Node |\n| Scalability | Can be easily scaled by adding more Data Nodes to the cluster | More difficult to scale, as it is a single point of failure |\n| Performance | Can be optimized for specific workloads by tuning the local file system | Can be optimized for specific workloads by tuning the metadata management system |\n\n**Example:**\n\nIn a Hadoop cluster, the Name Node stores the metadata for the file "/user/hadoop/input.txt". This metadata includes the location of the data blocks that make up the file. When an application wants to read the file, it first contacts the Name Node to get the location of the data blocks. The application then reads the data directly from the Data Nodes.'},
 2: {'question': ' Write a set of SQL queries to implement Star Schema ',
  'answer': "**SQL Queries to Implement Star Schema:**\n\n```sql\n-- Create the fact table\nCREATE TABLE FactSales (\n  Product_ID INT NOT NULL,\n  Order_ID INT NOT NULL,\n  Customer_ID INT NOT NULL,\n  Employee_ID INT NOT NULL,\n  Total_Sales DECIMAL(10, 2) NOT NULL,\n  Quantity_Sold INT NOT NULL,\n  Discount DECIMAL(5, 2) NOT NULL,\n  PRIMARY KEY (Product_ID, Order_ID)\n);\n\n-- Create the dimension tables\nCREATE TABLE DimProduct (\n  Product_ID INT NOT NULL,\n  Product_Name VARCHAR(50) NOT NULL,\n  Product_Category VARCHAR(50) NOT NULL,\n  Unit_Price DECIMAL(10, 2) NOT NULL,\n  PRIMARY KEY (Product_ID)\n);\n\nCREATE TABLE DimCustomer (\n  Customer_ID INT NOT NULL,\n  Customer_Name VARCHAR(50) NOT NULL,\n  Customer_Address VARCHAR(100) NOT NULL,\n  Customer_City VARCHAR(50) NOT NULL,\n  Customer_State VARCHAR(2) NOT NULL,\n  Customer_Zip_Code VARCHAR(10) NOT NULL,\n  PRIMARY KEY (Customer_ID)\n);\n\nCREATE TABLE DimEmployee (\n  Employee_ID INT NOT NULL,\n  Employee_Name VARCHAR(50) NOT NULL,\n  Employee_Title VARCHAR(50) NOT NULL,\n  Employee_Department VARCHAR(50) NOT NULL,\n  Employee_Region VARCHAR(50) NOT NULL,\n  PRIMARY KEY (Employee_ID)\n);\n\nCREATE TABLE DimTime (\n  Order_ID INT NOT NULL,\n  Order_Date DATE NOT NULL,\n  Order_Year INT NOT NULL,\n  Order_Quarter INT NOT NULL,\n  Order_Month INT NOT NULL,\n  PRIMARY KEY (Order_ID)\n);\n\n-- Insert data into the tables\nINSERT INTO FactSales (Product_ID, Order_ID, Customer_ID, Employee_ID, Total_Sales, Quantity_Sold, Discount)\nVALUES\n  (1, 1, 1, 1, 100.00, 10, 0.10),\n  (2, 2, 2, 2, 200.00, 20, 0.15),\n  (3, 3, 3, 3, 300.00, 30, 0.20),\n  (4, 4, 4, 4, 400.00, 40, 0.25),\n  (5, 5, 5, 5, 500.00, 50, 0.30);\n\nINSERT INTO DimProduct (Product_ID, Product_Name, Product_Category, Unit_Price)\nVALUES\n  (1, 'Product A', 'Category A', 10.00),\n  (2, 'Product B', 'Category B', 20.00),\n  (3, 'Product C', 'Category C', 30.00),\n  (4, 'Product D', 'Category D', 40.00),\n  (5, 'Product E', 'Category E', 50.00);\n\nINSERT INTO DimCustomer (Customer_ID, Customer_Name, Customer_Address, Customer_City, Customer_State, Customer_Zip_Code)\nVALUES\n  (1, 'Customer A', '123 Main Street', 'Anytown', 'CA', '12345'),\n  (2, 'Customer B', '456 Elm Street', 'Hometown', 'NY', '54321'),\n  (3, 'Customer C', '789 Oak Street', 'Cityville', 'TX', '67890'),\n  (4, 'Customer D', '1011 Pine Street', 'Woodville', 'FL', '23456'),\n  (5, 'Customer E', '1213 Maple Street', 'Springville', 'IL', '34567');\n\nINSERT INTO DimEmployee (Employee_ID, Employee_Name, Employee_Title, Employee_Department, Employee_Region)\nVALUES\n  (1, 'Employee A', 'Salesperson', 'Sales', 'East'),\n  (2, 'Employee B', 'Manager', 'Management', 'West'),\n  (3, 'Employee C', 'Analyst', 'Analytics', 'Central'),\n  (4, 'Employee D', 'Developer', 'Development', 'South'),\n  (5, 'Employee E', 'Tester', 'Testing', 'North');\n\nINSERT INTO DimTime (Order_ID, Order_Date, Order_Year, Order_Quarter, Order_Month)\nVALUES\n  (1, '2023-01-01', 2023, 1, 1),\n  (2, '2023-02-01', 2023, 1, 2),\n  (3, '2023-03-01', 2023, 1, 3),\n  (4, '2023-04-01', 2023, 2, 1),\n  (5, '2023-05-01', 2023, 2, 2);\n```\n\n**Explanation:**\n\nThe above SQL queries create a star schema with five dimension tables (DimProduct, DimCustomer, DimEmployee, DimTime) and one fact table (FactSales). The fact table contains the sales data, while the dimension tables contain the descriptive attributes for each dimension. The primary keys of the dimension tables are foreign keys in the fact table, which establishes the relationships between the tables.\n\nThe data in the tables is inserted using the `INSERT` statement. The data is representative of a sales system, with products, customers, employees, and time dimensions.\n\nTo query the data in the star schema, you can use SQL queries that join the fact table with the dimension tables. For example, the following query returns the total sales for each product:\n\n```sql\nSELECT\n  Product_Name,\n  SUM(Total_Sales) AS TotalSales\nFROM FactSales\nJOIN DimProduct\n  ON FactSales.Product_ID = DimProduct.Product_ID\nGROUP BY\n  Product_Name;\n```"},
 3: {'question': ' Draw the star schema for previous answer ',
  'answer': '**Exam-Appropriate Response:**\n\n**Question:** Draw the star schema for the previous answer.\n\n**Answer:**\n\nA star schema is a data warehouse design pattern that is optimized for querying data from multiple dimensions. It consists of a fact table and multiple dimension tables. The fact table contains the main business data, while the dimension tables contain the descriptive attributes for each dimension.\n\nIn the previous answer, the fact table is the `Sales` table, which contains the following columns:\n\n* `Product_ID`\n* `Order_ID`\n* `Customer_ID`\n* `Employee_ID`\n* `Total_Sales`\n* `Quantity_Sold`\n* `Discount`\n\nThe dimension tables are:\n\n* `Product` table, which contains the following columns:\n    * `Product_ID`\n    * `Product_Name`\n    * `Product_Category`\n    * `Unit_Price`\n* `Customer` table, which contains the following columns:\n    * `Customer_ID`\n    * `Customer_Name`\n    * `Customer_Address`\n    * `Customer_City`\n    * `Customer_State`\n    * `Customer_Zip_Code`\n* `Employee` table, which contains the following columns:\n    * `Employee_ID`\n    * `Employee_Name`\n    * `Employee_Title`\n    * `Employee_Department`\n    * `Employee_Region`\n* `Time` table, which contains the following columns:\n    * `Order_ID`\n    * `Order_Date`\n    * `Order_Year`\n    * `Order_Quarter`\n    * `Order_Month`\n\nThe relationships between the tables are as follows:\n\n* The `Sales` table is related to the `Product` table by the `Product_ID` column.\n* The `Sales` table is related to the `Customer` table by the `Customer_ID` column.\n* The `Sales` table is related to the `Employee` table by the `Employee_ID` column.\n* The `Sales` table is related to the `Time` table by the `Order_ID` column.\n\nThe star schema for the previous answer is shown below:\n\n```\nSales\n| Product_ID | Order_ID | Customer_ID | Employee_ID | Total_Sales | Quantity_Sold | Discount |\n|---|---|---|---|---|---|---|\n| 1 | 1 | 1 | 1 | 100.00 | 10 | 0.10 |\n| 2 | 2 | 2 | 2 | 200.00 | 20 | 0.15 |\n| 3 | 3 | 3 | 3 | 300.00 | 30 | 0.20 |\n| 4 | 4 | 4 | 4 | 400.00 | 40 | 0.25 |\n| 5 | 5 | 5 | 5 | 500.00 | 50 | 0.30 |\n\nProduct\n| Product_ID | Product_Name | Product_Category | Unit_Price |\n|---|---|---|---|\n| 1 | Product A | Category A | 10.00 |\n| 2 | Product B | Category B | 20.00 |\n| 3 | Product C | Category C | 30.00 |\n| 4 | Product D | Category D | 40.00 |\n| 5 | Product E | Category E | 50.00 |\n\nCustomer\n| Customer_ID | Customer_Name | Customer_Address | Customer_City | Customer_State | Customer_Zip_Code |\n|---|---|---|---|---|---|\n| 1 | Customer A | 123 Main Street | Anytown | CA | 12345 |\n| 2 | Customer B | 456 Elm Street | Hometown | NY | 54321 |\n| 3 | Customer C | 789 Oak Street | Cityville | TX | 67890 |\n| 4 | Customer D | 1011 Pine Street | Woodville | FL | 23456 |\n| 5 | Customer E | 1213 Maple Street | Springville | IL | 34567 |\n\nEmployee\n| Employee_ID | Employee_Name | Employee_Title | Employee_Department | Employee_Region |\n|---|---|---|---|---|\n| 1 | Employee A | Salesperson | Sales | East |\n| 2 | Employee B | Manager | Management | West |\n| 3 | Employee C | Analyst | Analytics | Central |\n| 4 | Employee D | Developer | Development | South |\n| 5 | Employee E | Tester | Testing | North |\n\nTime\n| Order_ID | Order_Date | Order_Year | Order_Quarter | Order_Month |\n|---|---|---|---|---|\n| 1 | 2023-01-01 | 2023 | 1 | 1 |\n| 2 | 2023-02-01 | 2023 | 1 | 2 |\n| 3 | 2023-03-01 | 2023 | 1 | 3 |\n| 4 | 2023-04-01 | 2023 | 2 | 1 |\n| 5 | 2023-05-01 | 2023 | 2 | 2 |\n```\n\nThis star schema can be used to answer queries such as:\n\n* What is the total sales for each product?\n* What is the average sales price for each product category?\n* Who are the top 10 customers in terms of total sales?\n* What is the sales trend over time?'}}

# <span style="color:red">Danger</span>

In [145]:
# This will erase your chat history after a limit. Created this part because sometimes my Gemini LLM generates an error-500: Internal server error, it causes due to overloading of the model.
# chats = {}

#### /Users/mihiresh/Mihiresh/Hackathon/gdsc2/api_testing/rag2.ipynb